.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
  }
  .facebook{
    font-size: 36px;
    background-color: #ebf4fc;
    color: #3B5998;
    border-radius: 50px;
    border: 0px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  .facebook-bg{
    background: #3B5998;
  }
  .twitter-bg{
    background: #55ACEE;
  }
  .google-bg{
    background: #DD4B39;
  }
  .youtube-bg{
    background-color: red;
  }

  .useful-links a{
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
font-weight: 500;
color: #7E7E7E;
  }

  .useful-links a:hover, a{
    color: #ff5e14 ;
  }

  
.subscribe-form {
  position: relative;
  overflow: hidden;
 
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
  
}


.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footerIcon{
  transition: transform .4s
}
.footerIcon:hover{
  transform: scale(1.2)
}

.hoverColor:hover{
  color:#ff5e14 ;
}

.footerInput:hover{
  background-color: whitesmoke;
  color: #DD4B39;
}

@media (max-width:600px) {
  footer{
    padding: 50px 0px !important;
  }
}

