.list_item:focus a{
  border-right: 4px solid #00a1ba;
  background-color: #f4f5f8;
  font-weight: 700;
}

.list_item{
text-decoration: none;
list-style: none;
}
.sidebar {  
  border-right: 1px solid #CCCCCC;
  /* margin-right: -100px; */
  overflow-y: scroll;
}
.sidebar-wrap{ 
  background-color: #fff;  
} 
.sidebar::-webkit-scrollbar {
  width: 0px; 
  
}

  
  .sidebar a {
    display: block;
    font-size: 14px;
    /* border-right: 4px solid #00a1ba; */
    font-weight: 500;
    /* font-family: 'Nunito', sans-serif; */
font-family: 'Poppins', sans-serif;
    color: rgba(0,0,0,.9);
    text-decoration: none;
    margin-bottom: 10px;
    width: 100%;
    padding: 11px 0 11px 15px;
    transition: all .3s;
  }
   
  /* .sidebar a.active {
     border-right: 4px solid #00a1ba;
    background-color: #f4f5f8;
    font-weight: 700;
  } */
  
  .sidebar a:hover {
    background-color: #f4f5f8 !important; 
    font-weight: 700;
  }  