.choose {
    position: relative;
    z-index: 2;
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 50px;
    
}

.choose:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 140%;
    top: -20%;
    right: 50%;
    background-color: #ffb600;
    opacity: 0.5;
    z-index: 1;
    animation: zoom11 10s infinite linear;
    transform: rotate(-50deg);
}

@-webkit-keyframes zoom11 {

    0% {  }

    50% { -moz-transform: rotate(35deg); -webkit-transform: rotate(50deg); -o-transform: rotate(50deg); -ms-transform: rotate(50deg); transform: rotate(50deg);}

    100% { }

}

@keyframes zoom11 {

    0% { }

    50% { -moz-transform: rotate(50deg); -webkit-transform: rotate(50deg); -o-transform: rotate(50deg); -ms-transform: rotate(50deg); transform: rotate(50deg); }

    100% { }

}
