.overl{
    background-color: #ffffff;
    position:relative;
    width: 100%;
    padding: 350px 0 0;
    height: 100%;
    opacity: 0.20;
    -moz-opacity: 80%;
    -webkit-opacity: 80%;
    margin-top: -28% !important;
    filter: blur(-12px);
    -webkit-filter: blur(-12px);
    z-index: 2;
}