/* .dark{
    background-color: #021122;
    color: #e6e6e6 !important;
}
.dark footer{
    border-top: 2px solid #132F4C;
    background-color: #001E3C !important;
}
.dark footer a{
    color: #B2BAC2;
}
.dark .slick-prev,.slick-next{
    display: none !important;
}
.dark footer h3{
    color: #ffff;
}
.dark footer p{
    color: #B2BAC2;
}
.dark .facebook-bg, .twitter-bg,.google-bg{
    background: #132F4C !important;
    color: #e6e6e6;
}
.dark .footer-widget-heading h3::before{
    background-color: #ffff;
} */