
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
padding: 0;
box-sizing: border-box;
}
body,html{
  overflow-x: hidden !important;
}
*{
  font-family: 'poppins'!important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */ 
body::-webkit-scrollbar-thumb {
  background: #bebebe; 
  border-radius: 20px;
}
div::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 20px;  
}
div:hover::-webkit-scrollbar-thumb{
  background: #bebebe;  
}
.testimonials-userWrap::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 20px;  
}
.testimonials-userWrap:hover::-webkit-scrollbar-thumb{
  background: #ffffff;  
}
.all-list::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 0px;  
}
.all-list:hover::-webkit-scrollbar-thumb{
  background: #ffffff;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.slick-next, .slick-prev{
padding: 2px !important;
width: 40px !important;
height: 40px !important;
background-color: #F4F5F8 !important;
border-radius: 50% !important;
z-index: 9 !important;

}

/* .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{
  color: red !important; */
/* } */
.slick-prev:before, .slick-next:before{
color: black !important;
};

.slick-prev.slick-disabled{
display: none !important;
}

a.select-service{
  border-right: 4px solid #00a1ba !important;
  background-color: #f4f5f8 !important; 
  font-weight: bold!important;
}

#commonBannerText{
  color: #FF5E14;
 
}


.sc-launcher{
  z-index: 999;
}