.sc-chat-window{
    z-index: 33333333555;
}
.sc-message--content.sent {
    text-align: right;
}
.sc-message--content.sent .sc-message--text{
    color: #263238;
    background-color: #f4f7f9;
    width: initial;
}