.service-area{
    background-image: url('https://i.ibb.co/Y3z6YTs/bg-curve.png');

    background-size: auto;
  
    background-position: top;
  
    background-repeat: no-repeat;
  
    padding-top: 120px;
  
    padding-bottom: 100px; 
    position: relative;
}
.grayBox{
    position: absolute;
    inset: 0; 
    background:rgb(255, 255, 255);
    mix-blend-mode: color;
    animation-name: example;

    animation-duration: 20s; 
    animation-iteration-count: infinite;
    left:0;
}
@keyframes example {
    0% {left: 0;}
    25% {left:40%;}
    50% {left:55%;}
    75% {left:72%;}
    100% {left:100%;}
  }



.sub-title{
    color: #022279; 
    text-transform: uppercase; 
    letter-spacing: 4px; 
    display: block; 
    margin-bottom: 30px; 
    font-weight:700;
}

.step-around{
    display: block;
    position: absolute;

    background-color: #ffb600;

    width: 140px;

    height: 140px;

    border-radius: 50px;
    
    line-height: 140px;
    
    transform: rotate(135deg);
    
    overflow:hidden;

    -webkit-transition: all 0.5s ease;

    -moz-transition: all 0.5s ease;

    -ms-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    transition: all 0.5s ease;
    animation: rotation 3s infinite linear;
}

.step-around:hover {
    border-radius:100px;
    box-shadow: 0 0 0px 15px rgba(255, 182, 0, 0.17);
}
 

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  /* step animation  */
   
.step-1,.step-2,.step-3{
    border-radius: 10px;

}
.step-1{
    animation-name:highlight-1; 
    animation-duration: 20s;
    animation-iteration-count: infinite;

}
.step-2{
    animation-name:highlight-2; 
    animation-duration: 20s;
    animation-iteration-count: infinite;

}
.step-3{
    animation-name:highlight-3; 
    animation-duration: 20s;
    animation-iteration-count: infinite;

}
@keyframes highlight-1{
    0% { 
     }
    2% {
        
        -webkit-box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%); 
        box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%);
     }
    40% {
        
        -webkit-box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%); 
        box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%);
     }
   42% { 
    -webkit-box-shadow:none; 
    box-shadow: none;
    }
   44% { 
    -webkit-box-shadow:none; 
    box-shadow: none;
    }  
    75% { 

    }
    100% { 

    } 
}
@keyframes highlight-2{
    0% {
        
     }
    40% { 
        -webkit-box-shadow:none; 
        box-shadow: none;
    }
    42% { 
        -webkit-box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%); 
        box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%);
    }
    48% { 
        -webkit-box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%); 
        box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%);
    }
    60% { 
        -webkit-box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%); 
        box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%);
    }
    65% { 
        -webkit-box-shadow:none; 
        box-shadow: none;
    }
    66% { 
        -webkit-box-shadow:none; 
        box-shadow: none;
    }
    100% { 

    } 
}
@keyframes highlight-3{
    0% {
        
     } 
     65%{
        -webkit-box-shadow:none; 
        box-shadow: none;
     }
    66% { 
        -webkit-box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%); 
        box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%);

    }
    95% { 
        -webkit-box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%); 
        box-shadow: 5px 7px 36px 1px rgb(0 0 0 / 14%);

    }
    100% { 
        -webkit-box-shadow:none; 
        box-shadow: none;

    } 
}
.position-1 {
    margin-top: 0px;
    margin-bottom: 30px;
    width: 140px; 
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 

.position-2{
    width: 140px;

    height: 140px;
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position-3{
    width: 140px; 
    height: 140px;
    margin-top: 105px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:991px) {
    .service-area{
        background-image: none;
    }
    .step-section{
        padding: 0px 20px;
    }

    .position-1{
        margin-top: 60px;
    }

    .position-2{
        margin-top: 30px;
    }

    .position-3{
        margin-top: 30px;
    }

   
}